@page
@model ProductsCreateModel
@{
    ViewData["Title"] = "Create Product";
}
<h1>Create Product</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="Product.Name" class="form-label"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Product.Category" class="form-label"></label>
        <input asp-for="Product.Category" class="form-control" />
        <span asp-validation-for="Product.Category" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Product.Quantity" class="form-label"></label>
        <input asp-for="Product.Quantity" class="form-control" />
        <span asp-validation-for="Product.Quantity" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Product.Sale" class="form-label"></label>
        <input asp-for="Product.Sale" type="checkbox" class="form-check-input" />
        <span asp-validation-for="Product.Sale" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-area="Products" asp-page="Index" class="btn btn-secondary">Back to List</a>
</form>
